<template>
  <div class="detail">
    <v-layout>
        <v-flex xs12 sm12 lg12>
          <v-card>
            <v-card-text>
                 {{track[id].name}}
            </v-card-text>
          </v-card>
          <vuetify-audio :file="track[id].url" :ended="audioFinish"></vuetify-audio>
          <v-card>
            <v-card-text>
                <v-btn color="error" @click = "goBack">GoBack</v-btn>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </div>
</template>

<script>
import data from './data.json'
import VuetifyAudio from 'vuetify-audio';
export default {
  props: ['id','name'],
  components: {
        'vuetify-audio': VuetifyAudio
  },
  data(){
    return{
      track:[],
      id: $route.params.id
     }
  },
  methods: {
    url(src){
      return src;
    },
    audioFinish () {
            console.log('You see this means audio finish.');
    },
    goBack() {
      this.$router.go('-1');
    }
  },
  created() {
    this.track = data.tracks;
    this.file = track[id].url; 
    console.log(this.file)
  }
}
</script>

<style lang="css" scoped>
.detail{
  margin-top:5%;
}
</style>
