<template>
  <div class="container-fluid" id="tracks">
    <div class="filter">
    <label v-for="topic in topics">
       <v-checkbox :label="topic" v-model="selectedCategory" :value="topic">
       </v-checkbox>
    </label>
  </div>

 <div class="tracks">
    <ul>
     <li v-for="track in paginated('filteredTracks')">
       <v-layout row>
        <v-flex xs12 sm12 lg12>
          <v-card dark>
          <router-link :to="`/track/${track.id}`">
              <v-card-media
                :src="track.image"
                height="125px"
                width="150px"
              >
              </v-card-media>
          </router-link>
            <v-card-title primary-title>
              <div>
                <div class="headline">{{track.name}}</div>
                <span class="grey--text">{{track.pub_date}}</span>
              </div>
            </v-card-title>

            <v-card-actions>
              <v-btn flat>Share</v-btn>
              <v-btn flat color="purple">Explore</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      </router-link>
     </li>
    </ul>
    <paginate name="filteredTracks" :list="filteredTracks" :per="10" class="paginate-list" >
    </paginate>
    <paginate-links for="filteredTracks" :limit="2" :hide-single-page="true" :async="true" :show-step-links="true"></paginate-links>
 </div>
</div>


</template>

<script>
import data from './data.json'
export default {
  data(){
    return{
      tracks: data.tracks,
      topics: ["All","தமிழ்", "சுயசரிதை", "தமிழ்நாடு","காங்கிரஸ்","முதலமைச்சர்", "கவிஞர்","இந்தியா"],
      selectedCategory: "All",
      paginate:['filteredTracks'],
      previsible:false,
      isNextVisible:true,
      pageSize:5,
      currentPage:1,
      isNextVisible:true,
      isPrevVisible:true,
      to_show:10
    }
  },
  methods:{
  },
  computed: {
  	filteredTracks: function() {
    let vm = this;
  	let category = vm.selectedCategory;
  	if(category === "All") {
  		return vm.tracks

  	 }
     else {
     	 return vm.tracks.filter(function(track) {
  		 return track.topics.some(topic => topic === category);
  	 });
  	}
   }
  }
}
</script>

<style lang="css" scoped>
  .container {
  display: flex;
  flex-direction: row;
}
.filter{
  margin-top: 5%;
  width:15%;
  position: fixed;
  padding: 3%;
  background-color: #f7f7f7;
}
.tracks{
  margin-left: 15%;
  margin-top: 5%;
}
.tracks li{
   display: inline-block;
   padding: 2%;
   margin-right: 2%;
   margin-bottom: 2%;
}

.tracks h4{
  color: black;
  padding: 10px;
}

button{
  margin: 18px;
}
label {
	display: block;
	line-height: 1.5em;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

li {
  disply:inline-block;
}

.disabled{
  color:red;
}
ul.paginate-links {
    margin-top: 20px;
    padding-left: 0;
    background: #ffffff;
    cursor: pointer;
    list-style:none;
}

.tracks ul.paginate-links > li {
    display: inline-block;
    padding: 4px;
    border: 1px solid #ffffff;
    background: #dcdee2;
    font-size: 12px;
}
div.headline{
  font-size:18px!important;
}
</style>
