<template>
  <div id="app">
    <v-app id="inspire">
     <v-toolbar app fixed >
       <v-toolbar-side-icon ></v-toolbar-side-icon>
       <v-toolbar-title>ஒலிபீடியா</v-toolbar-title>
       <v-spacer></v-spacer>
       <v-toolbar-items class="hidden-sm-and-down" color="black">
         <v-btn flat color="black"> முகப்பு</v-btn>
         <v-btn flat color="black">ஒலி பதிவுகள்</v-btn>
         <v-btn flat color="black">எங்களைப் பற்றி</v-btn>
       </v-toolbar-items>
     </v-toolbar>
     <router-view/>
     </v-app>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {

}
.toolbar{
  background-color: #f7f7f7;
}
</style>
